<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.mapper.recipe-mapper">
	<select id="foodHitTopData" resultType="FoodVO">
		SELECT no , title , poster , rownum 
		FROM (SELECT no , name , poster 
				  FROM recipe ORDER BY hit DESC )
		WHERE rownum &lt;=12
	</select> 
	<select id="foodLikeTopData" resultType="FoodVO">
		SELECT no , name , poster , rownum 
		FROM (SELECT no , name , poster 
				  FROM recipe ORDER BY likecount DESC )
		WHERE rownum &lt;=9
	</select>
	<select id="foodJjimTopData" resultType="FoodVO">
		SELECT no , name , poster , rownum 
		FROM (SELECT no , name , poster 
				  FROM recipe ORDER BY jjimcount DESC )
		WHERE rownum &lt;=12
	</select>
	
	
	
	
	
  <select id="recipeListCount" resultType="int">
    SELECT COUNT(*) FROM recipe
  </select>
  <!-- 맛집 목록 출력 -->
  <select id="recipeListData" resultType="RecipeVO" parameterType="hashmap">
    SELECT no,title,poster, chef, info3, num
    FROM (SELECT no,title,poster, chef, info3, rownum as num 
    FROM (SELECT no,title,poster, chef, info3
    FROM recipe))
    WHERE num BETWEEN #{start} AND #{end}
  </select>
  <select id="recipeTotalPage" resultType="int">
    SELECT CEIL(COUNT(*)/20.0) FROM recipe
  </select>
  <!-- 맛집 상세보기 -->
  <update id="recipeHitIncrement" parameterType="int">
    UPDATE recipe SET
    hit=hit+1
    WHERE no=#{no}
  </update>
 
  <select id="recipeDetailData" resultType="RecipeVO" parameterType="int">
    SELECT no, hit, poster,title, chef, chef_poster, chef_profil, info1, info2, info3, content, foodmake, data FROM recipedetail
    WHERE no=#{no}
  </select>



<select id="foodRearListData" resultType="FoodVO" parameterType="string">
		SELECT fno , name , poster , address , rownum 
		FROM (SELECT fno , name , poster ,address
				  FROM food_house WHERE address LIKE '%'||#{ss}||'%'  ORDER BY fno ASC)
		WHERE rownum &lt;=12
	</select>
	<!--  맛집 찾기 -->
	<select id="recipeFindListData" resultType="FoodVO" parameterType="hashmap">
		SELECT no , name , poster , num
		FROM (SELECT no , name , poster , rownum as num 
		FROM (SELECT /*+ INDEX_ASC(recipe RD_NO_PK)*/ no , name , poster 
		FROM recipe WHERE address LIKE '%'||#{ss}||'%'))
		WHERE num BETWEEN #{start} AND #{end}
	</select>
	<select id="recipeFindTotalPage" resultType="int">
		SELECT CEIL(COUNT(*)/20.0)  
		FROM recipe 
		WHERE title LIKE '%'||#{ss}||'%' 
	</select>
  
</mapper>